body {
    background-color: #201E43;
    color: #EEEEEE;
}

.button {
    background-color: #134B70;
    color: #EEEEEE;
}

.board {
    border: 2px solid #508C9B;
}

.snake {
    background-image: url('../images/snake.png');
    background-size: cover;
}

.ladder {
    background-image: url('../images/ladder.png');
    background-size: cover;
}

.dice {
    font-size: 2em;
    color: #508C9B;
}

.move-counter {
    font-size: 1.5em;
    color: #134B70;
}